<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <div class="navsection">
        <div class="title">
            <h1>School</h1>
        </div>
        <div class="menu">
            <a href="{% url 'home' %}">Teachers</a>
            <a href="{% url 'students_list' %}">Students</a>
        </div>
        <div class="user">
            <h4>Prinicipal</h4>
        </div>
    </div>
</head>
<body>
    
</body>
</html>